* {
  font-family: 'Comfortaa', cursive;
  font-family: 'Libre Baskerville', serif; 
}

.image-icons-container {
    position: relative;
  }
  
  .stacked-icon {    
    width: 80px;
  }
.icon{
  padding-bottom: 20px;
}
 
.contact{
text-align: center;
  background-color: #fdedb3;
  height: 100vh;
}
.contactForm{
  text-align: left;
  padding: 40px;
}
.contactBtn{
  float: right;
}

.backgroundcard {
  background-color: rgb(255, 226, 96);
  margin-top: 45px !important;
  border-radius: 20px;
  float: left !important;
}
.reachOut{
  margin-left: 80px;
  margin-top: 40px;
}
h3{
  text-align: left;
}