
.image-icons-container {
    position: relative;
  }
  
  .stacked-icon {    
    width: 80px;
  }
.icon{
  padding-bottom: 20px;
}
 
.contact{
text-align: center;
}
.contactForm{
  text-align: left;
}
.contactBtn{
  float: right;
}

.backgroundcard {
  background-color: rgb(255, 226, 96);
}