.footer {
    position: fixed;
    height: 8%;
    width: 100%;
    background-color: rgb(213, 145, 8);
    bottom: 0;
 }

 .footer_text{
    text-align: left;
    margin-left: 10%;
    margin-top: 18px;
    font-family: 'Libre Baskerville', serif; 
}