.footer {
    position: fixed;
    height: 16%;
    width: 100%;
    background-color: rgb(213, 145, 8);
    bottom: 0;
 }

 .footer_text{
    justify-content: center;
    margin-top: 18px;
    font-family: 'Libre Baskerville', serif; 
}

.image-icons-container {
    margin-bottom: .5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; 
}


.icon {
    width: 40px;
}